<%= form_for @profile, :html => { :multipart => true } do |f| %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	
	<div class="form-group">
		<%= label_tag :name, "Your Name: " %>
		<%= f.text_field(:name, :class =>"form-control") %>
	</div>
	<div class="form-group">
		<%= label_tag :username, "Username: " %>
		<%= f.text_field(:username, :class => "form-control") %>
	</div>
	<div class="form-group">
		<%= label_tag :description, "About: " %>
		<%= f.text_area(:description, :class => "form-control", :placeholder => "Tell us about yourself...", :row => "8") %>
	</div>
	<div class="form-group">
		<%= label_tag :avatar, "Add your face: " %>
		<%= f.file_field :avatar %>
	</div>
	<%= f.submit :class => "btn btn-info" %>

<% end %>