<%= form_for @profile, :html => { :multipart => true } do |f| %>

	<% if @profile.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

	      <ul>
	      <% @profile.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
	<div class="form-group">
		<%= label_tag :name, "Your Name: " %>
		<%= f.text_field(:name, :class =>"form-control") %>
	</div>
	<div class="form-group">
		<%= label_tag :username, "Username: " %>
		<%= f.text_field(:username, :class => "form-control") %>
	</div>
	<div class="form-group">
		<%= label_tag :description, "About: " %>
		<%= f.text_area(:description, :class => "form-control", :placeholder => "Tell us about yourself...", :rows => "8") %>
	</div>
	<div class="form-group">
		<%= label_tag :avatar, "Add your face: " %>
		<%= f.file_field :avatar %>
	</div>
	<div class="form-group">
		<%=link_to 'Cancel', profile_path(current_user.id), :class => "btn btn-info" %>
		<%= f.submit :class => "btn btn-info" %>
	</div>
	
<% end %>