
<h1>My Profile</h1>


<div class="row">
	<div class="col-xs-12 col-md-3">
		<a href="<%= @profile.avatar.url %>" class="thumbnail">
			<%= image_tag @profile.avatar.url(:medium) %>
			<!-- <image src="http://placehold.it/150x150"> -->
		</a>
	</div>

	<div class="col-xs-12 col-md-6">
		<table class="table table-responsive">
			<tr>
				<th>Name: </th>
				<td><%= @profile.name %></td>
			</tr>
			<tr>
				<th>Username:</th>
				<td><%= @profile.username %></td>
			</tr>
			<tr>
				<th>About Me: </th>
				<td><%= @profile.description %></td>
			</tr>
			
		</table>
	
		<div class="pull-right">
			<%= link_to "Edit", edit_profile_path, :class => "btn btn-info" %>
		<%= link_to "Back to Main Page", root_path, :class => "btn btn-info" %>
		</div>
		
	</div>
</div>
<%# @profile.inspect %>