

<%= form_for @post, :html => { :multipart => true } do |f| %>
	<p class="notice"><%= notice %></p>
	<div class="form-group">
		<%= label_tag :title, "Post Title: " %>
		<%= f.text_field(:title, :class =>"form-control") %>
	</div>
	<div class="form-group">
		<%= label_tag :content, "Content: " %>
		<%= f.text_area(:content, :class => "form-control") %>
	</div>
	<div class="form-group">
		<%= label_tag :image, "Add images: " %>
		<%= f.file_field :image %>
	</div>
	<%= f.submit :class => "btn btn-info" %>

<% end %>