<%= link_to "Home", root_path, :class => "btn btn-info" %>

<h1>Show all posts</h1>

 <div class="row">
	<div class="col-xs-12 col-md-12">
		<% @posts.each do |post| %>

			<article class="post">
				
				<a href="<%= post_path(post.id) %>">
					<h3> <%= post.title %> </h3>
				</a>
				
				<p>	
					<%= time_ago_in_words(post.created_at)%> ago
				</p>

				<p>
					Posted by: 
					<span class="avatar-thumb">
						
						<%= image_tag post.profile.avatar.url(:thumb), :class => "avatar-thumb" %> 
							
					</span>  
					<span class="username">
						
						<%= post.profile.username %>
						
					</span>   
					<span class="postDate"> <%= time_ago_in_words(post.created_at)%> ago</span>
				</p>

				<div class="content">
					<%= truncate(post.content, :length => 80) %> 
				</div>
			
				<div class="userBtns">
					<% if current_user.id === post.user.id %>
						<%= link_to "Edit", edit_post_path(post.id), :class => "btn btn-info" %>
					<% end %>
				</div>

			</article>
	
		<% end %> 

	</div>
</div>

