<!-- shows all posts -->
<div class="row">
	<div class="col-xs-12 col-md-12">
		<h1>Show all posts</h1>
		
		<% @posts.each do |post| %>

			<article class="post">
				
				<a href="<%= post_path(post.id) %>">
					<h3> <%= post.title %> 
						<span>
							<% if user_signed_in? && current_user.id === post.user_id %>
								<%= link_to "Edit", edit_post_path(post.id), :class => "btn btn-info" %>		
							<% end %>
						</span>
					</h3>
				</a>
				
				<p>	<%= time_ago_in_words(post.created_at)%> ago </p>

				<p>
					Posted by: 
					<span class="avatar-thumb">
						
						<%= image_tag post.profile.avatar.url(:thumb), :class => "avatar-thumb" %> 
							
					</span>  
						<a href="<%= profile_path(post.profile.user_id) %>">
						<span class="username"> <%= post.profile.username %></span>	
					</a>   
					<span class="postDate"> <%= time_ago_in_words(post.created_at)%> ago</span>
				</p>

				<div class="content">
					<%= truncate(post.content, :length => 80) %> 
				</div>

			</article>
			<hr>
		<% end %>
	</div>
</div>

