<!-- Shows one Post full page-->

<div class="row">
	<div class="col-xs-12 col-md-12">
		<article class="post">
			<% if @post.image.exists? %>
				<%= image_tag @post.image.url, :class => "img-responsive" %>
			<% end %>

			<h2>
				<%= @post.title %>
			</h2>

			<p>
				Posted by: 
				<span class="avatar-thumb">
					<%= image_tag @profile.avatar.url(:thumb), :class => "avatar-thumb" %> 
				</span>  
				<span class="username"><a href="<%= profile_path(@post.user_id) %>"><%= @profile.username %></a></span>   
				<span class="postDate"> <%= time_ago_in_words(@post.created_at)%> ago</span>
			</p>

			<div class="content">
				<%= @post.content %> 
			</div>
		
			<div class="userBtn">
	
				<% if user_signed_in? && current_user.id === @post.user_id %>
					<%= link_to "Edit", edit_post_path, :class => "btn btn-info" %>		
				<% end %>
			</div>

		</article>
	</div>
</div>

<%= render "/comments/form" %>
