<%= link_to "Home", root_path, :class => "btn btn-info" %>


<h1>Manage My Posts</h1>

<%# @posts.inspect %>

<% @posts.each do |post| %>
	<article class="post">
		<a href="<%= post_path(post.id) %>">
			<h3> <%= post.title %> </h3>
		</a>

		<p>
			Posted by: 
			<span class="avatar-thumb">
				<%= image_tag @profile.avatar.url(:thumb) %> 
			</span>  
			<span class="username"><%= @profile.username %></span>   
			<span class="postDate"> <%= time_ago_in_words(post.created_at)%> ago</span>
		</p>

		<div class="content">
			<%= truncate(post.content, :length => 80) %> 
		</div>
	
		<div class="userBtns">
			<% if user_signed_in? && current_user.id === post.user.id %>
				<%= link_to "Edit", edit_post_path(post.id), :class => "btn btn-info" %>
			<% end %>
			
		</div>

	</article>
	<hr>
<% end %> 


<div class="linkBtns">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<%# if current_user %>
			<%# link_to "Edit", edit_post_path, :class => "btn btn-info" %>
			
			<%# link_to "Manage My Posts", my_posts_path, :class => "btn btn-info" %>
			<%# else %>
			<%# link_to "All Posts", index_path, :class => "btn btn-info" %>
			

			<%# end %>
		</div>
	</div>
</div>
	